<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      	<div class="article-meta">
	      	<%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>
        </div>
    	 <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        <div class="article-info info-on-left">
			<span style="font-size:10px;font-weigth:400" class="post-count">文章字数：<%=wordcount(post.content)%></span>
			<span style="font-size:10px;font-weigth:400" class="post-count">阅读时间：<%=min2read(post.content)%>min</span>
        </div>
        <div class="article-info info-on-right">
          <%- partial('post/tag') %>
          <%- partial('post/category') %>
        </div>
        <div class="clearfix"></div>
    </header>
  </div>
</article>
